## Using .format()

In [2]:
price = 49
txt = "The price rate is {} rupees"
print(txt)

The price rate is {} rupees

In [3]:
print(txt.format(price))

The price rate is 49 rupees

In [4]:
price = 49.23546
txt = "The price is {:.2f} dollars"
print(txt.format(price))

The price is 49.24 dollars

In [5]:
quality = "good"
txt = "Ayaan is a {} boy"
print(txt.format(quality))

Ayaan is a good boy

In [6]:
age = 36
name = "Zafar"
txt = "His name is {1}.\n {1} is {0} years old."
print(txt.format(age, name))

His name is Zafar.
 Zafar is 36 years old.

In [7]:
age = 36
name = "Zafar"
txt = "His name is {1}.\n {1} is {0} years old.".format(age, name)
print(txt)

His name is Zafar.
 Zafar is 36 years old.

In [8]:
name = "ali"
age = 25
city = "karachi"

formate_string = "My name is {}, I am {} years old, and I live in {}.".format(name, age, city)
print(formate_string)

My name is ali, I am 25 years old, and I live in karachi.

In [24]:
quantity = 3
itemno = 567
price = 493.12145
myorder = "I want {0} pieces of item number {1}.{1} for {2:.1f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567.567 for 493.1 dollars.

In [31]:
quantity = 3
itemno = 567
price = 493.12145
price1 = 35.12545
myorder = "I want {0} pieces of item number {1}.{1} for {2:.2f} dollars {3} {4}."
print(myorder.format(quantity, itemno, price, price1))

IndexError: Replacement index 4 out of range for positional args tuple

In [35]:
quantity = 3.234
itemno = 567
price = 493.12145
price1 = 35.12545
price3 = 12.154
myorder = "I want {0:.2f} pieces of item number {1}.{1} for {2:.2f} dollars {3} {4:.2f}."
print(myorder.format(quantity, itemno, price, price1, price3))

I want 3.23 pieces of item number 567.567 for 493.12 dollars 35.12545 12.15.

## Using % formatting

In [36]:
name = "Ayaan"
age = 12
city = "None"

f_s = "My name is %s, I am %d years old, and I live in %s." %(name, age, city)
print(f_s)

My name is Ayaan, I am 12 years old, and I live in None.

## Using f-strings

In [37]:
name = "Ayaan"
age = 12
city = "None"

f_s = f"My name is {name}, I am {age} years old, and I live in {city}."
print(f_s)

My name is Ayaan, I am 12 years old, and I live in None.

## Using concatenation

In [38]:
name = "David"
age = 28
city = "San Francisco"

formatted_string = "My name is " + name + ", I am " + str(age) + " years old, and I live in " + city + "."
print(formatted_string)

My name is David, I am 28 years old, and I live in San Francisco.

In [39]:
type(formate_string)

str