## ***Nested loops***

In [1]:
count = 0

for x in [0,1,2,3,4]:
    for y in [0,1,2,3,4]:
        count += 1
        print('*')

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [2]:
count

25

## ***Multiplication table for numbers 1 to 5***

In [3]:
for i in range(1,6):
    for j in range(1,11):
        print(f"{i} * {j} = {i * j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

## ***Multiplication Table 5 to 10***

In [4]:
for i in range(5,11):
    for j in range(1,11):
        print(f"{i} * {j} = {i * j}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [5]:
print("toppr ", end='says ')

print("you are awesome")

toppr says you are awesome

In [6]:
print("toppr", end='')

print(" you are awesome")

toppr you are awesome

## ***Pattern printing***

In [7]:
# Nested loops to print a pattern
for i in range(10):
    for j in range(i + 1):
        print("*", end = '')
    print()

*
**
***
****
*****
******
*******
********
*********
**********

## ***Pyramid Pattern***

In [8]:
for i in range(10):
    for j in range(10-i):
        print(" ", end = " ")
    for k in range(i + 1):
        print("*", end = " ")
    print()

                    *
                  * *
                * * *
              * * * *
            * * * * *
          * * * * * *
        * * * * * * *
      * * * * * * * *
    * * * * * * * * *
  * * * * * * * * * *

## ***Create tree by using nested loops***

In [9]:
# take outer range 0 to 9
for i in range(10):
  # Inner loop for spaces before the stars
  for j in range(10 - i):
    print(" ", end=" ")
  # Inner loop for printing stars
  for k in range(2 * i + 1):
    print("*", end=" ")
  # Move to the nest line after each row
  print()

                    *
                  * * *
                * * * * *
              * * * * * * *
            * * * * * * * * *
          * * * * * * * * * * *
        * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *

In [10]:
# take outer range 0 to 9
for i in range(10):
  # Inner loop for spaces before the stars
  for j in range(10 - i):
    print(" ", end=" ")
  # Inner loop for printing stars
  for k in range(2 * i + 1):
    print("*", end=" ")
  # Move to the nest line after each row
  print()


#trunk
# Outer loop for each row of the trunk
for i in range(5):
  # Inner loop for spaces before the trunk
    for j in range(9):
        print(" ", end = " ")
  # Inner loop for printing the trunk
    for k in range(3):
        print("|", end = " ")

    print()

                    *
                  * * *
                * * * * *
              * * * * * * *
            * * * * * * * * *
          * * * * * * * * * * *
        * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *
                  | | |
                  | | |
                  | | |
                  | | |
                  | | |

## ***Chess Board***

In [11]:
for i in range(8):
    for k in range(8):
        if (i + k) % 2 == 0:
            print("B", end=" ")
        else:
            print("W", end=" ")

    # Check if it's the last row of the group of five
    if i % 5 == 4:
        print() # Move to the next line
    else:
        # Add a space between groups of five
        print(end=" ")

B W B W B W B W  W B W B W B W B  B W B W B W B W  W B W B W B W B  B W B W B W B W
W B W B W B W B  B W B W B W B W  W B W B W B W B