# **Python Tuples**
# **Access Tuple Items**
# **Update Tuples**
# **Unpacking a Tuple**
# **for Loop Tuples**
# **Join Two Tuples**
# **Tuple Methods**

### **Python Tuples**

In [9]:
# Create tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [1]:
# Allow Duplicates
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
# Assignment
# Print the number of items in the tuple

In [11]:
# Create Tuple With One Item
thistuple = ("apple",)
print(type(thistuple))

# NOT a tuple
# thistuple = ("apple")
# print(type(thistuple))

<class 'tuple'>

In [20]:
# Tuple Items - Data Types
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple4 = (12.454666, 45.1321)
tuple3 = (True, False, False)

In [22]:
print(tuple1)
print(type(tuple1))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [23]:
print(tuple2)
print(type(tuple2))

(1, 5, 7, 9, 3)
<class 'tuple'>

In [24]:
print(tuple3)
print(type(tuple3))

(True, False, False)
<class 'tuple'>

In [21]:
print(tuple4)
print(type(tuple4))

(12.454666, 45.1321)
<class 'tuple'>

In [25]:
# A tuple with strings, integers and boolean values
tuple1 = ("abc", 34, True, 40, "male")
tuple1

('abc', 34, True, 40, 'male')

In [ ]:
# Assignment
# What is the data type of a tuple1

In [ ]:
# list()
# tuple()

In [27]:
# It is also possible to use the tuple() constructor to make a tuple
thistuple = tuple(["apple", "banana", "cherry"])
print(type(thistuple))
print(thistuple)

<class 'tuple'>
('apple', 'banana', 'cherry')

### **Access Tuple Items**

In [28]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [29]:
# Print the last item of the tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [30]:
# Return the third, fourth, and fifth item
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
# Assignment
# returns the items from the beginning to, but NOT included, "kiwi"

In [ ]:
# Assignment
# returns the items from "cherry" and to the end

In [34]:
# Check if Item Exists
thistuple = ("apple", "banana", "cherry")
if "pear" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")
else:
  print("this item is not in the tuple")

this item is not in the tuple

In [35]:
# Check if Item Exists
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")
else:
  print("this item is not in the tuple")

Yes, 'apple' is in the fruits tuple

### **Update Tuples**

In [38]:
# Convert the tuple into a list to be able to change it
x = ("apple", "banana", "cherry")
y = list(x)

# print(x)
# print(y)

y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [43]:
# Add Items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [44]:
# Create a new tuple with the value "orange", and add that tuple
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [46]:
# Convert the tuple into a list, remove "apple", and convert it back into a tuple
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')