# **Unpacking a Tuple**
# **for Loop Tuples**
# **Join Two Tuples**
# **Tuple Methods**

### **Unpacking a Tuple**

In [7]:
fruits = ("apple", "banana", "cherry")
# print(fruits)



(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [9]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [10]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

### **for Loop Tuples**

In [14]:
thistuple = ("apple", "banana", "cherry")
for i in thistuple:
  print(i)
# print(thistuple)

apple
banana
cherry

In [17]:
range(len(thistuple))

range(0, 3)

In [26]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [35]:
for i in range(2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [29]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

# **Join Two Tuples**

In [31]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple2 + tuple1
print(tuple3)

(1, 2, 3, 'a', 'b', 'c')

In [32]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

### **Tuple Methods**

In [33]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [34]:
fruits = ("apple","apple", "mango", "papaya", "pineapple", "cherry")
fruits.count("apple")

2