# **Today's Topic**
# **Type Casting**
# **Variables**

# **Ayaan**
## **Ayaan**
### **Ayaan**
#### **Ayaan**
##### **Ayaan**
###### **Ayaan**

In [20]:
a = 3
# b = str(3)
b = str(a)
print(type(a))
print(type(b))
# print(a)
# print(b)
b

<class 'int'>
<class 'str'>

'3'

In [7]:
a = 3.5
b = int(a)
print(type(a))
print(type(b))
print(a)
print(b)

<class 'float'>
<class 'int'>
3.5
3

In [8]:
a = 3
b = float(a)
print(type(a))
print(type(b))
print(a,b)

<class 'int'>
<class 'float'>
3 3.0

In [10]:
name = "Ayaan"
name1 = int(name)
print(name)
print(name1)

ValueError: ignored

In [14]:
name = "Ayaan"
name1 = str(name)
print(name)
print(name1)
print(type(name1, name))

Ayaan
Ayaan

TypeError: ignored

In [16]:
name = "Ayaan"
name1 = str(name)
print(name)
print(name1)
print(type(name))
print(type(name1))

Ayaan
Ayaan
<class 'str'>
<class 'str'>

## Legal variable names
## Examples
[myvar,
my_var ,
_my_var ,
myVar,
MYVAR,
myvar2]

In [19]:
myvar = "Ayaan"
myvar
print(myvar)

Ayaan

## Illegal variable names:
## Examples
[2myvar ,
my-var ,
my var ]

In [22]:
2myvar = "Ayaan"
print(2myvar)

SyntaxError: ignored

# **Camel Case**
Each word, except the first, starts with a capital letter:

myVariableName = "Ayaan"

# **Pascal Case**
Each word starts with a capital letter:

MyVariableName = "Ayaan"

# **Snake Case**
Each word is separated by an underscore character:

my_variable_name = "John"