## ***Python Data Classes***

In Python, the dataclass decorator is a feature introduced in Python 3.7 that provides a concise way to define classes primarily intended to store data. It automatically generates several special methods, such as init, repr, and eq, based on the class attributes you define. This simplifies the process of creating and working with data-focused classes.

In [1]:
from dataclasses import dataclass

In [2]:
@dataclass
class person:
    name:str
    age:int
    profession:str

The @dataclass decorator automatically generates the following methods for you:

1.`init()`: Initializes the object and assigns the provided values to the attributes.

2.`repr()`: Provides a string representation of the object.

3.`eq()`: Implements equality comparison between two objects of the class based on their attributes.

In [5]:
person1 = person('ali', '23','AI developer')

In [6]:
person1

person(name='ali', age='23', profession='AI developer')

In [7]:
person1.name

'ali'

In [8]:
person1.age

'23'

In [9]:
person1.profession

'AI developer'

In [16]:
class peron():
    def __init__(self,name, age, prof):
        self.name = name
        self.age = age
        self.profession = prof

In [18]:
per = person("ali","23","DS")

In [19]:
per

person(name='ali', age='23', profession='DS')

In [20]:
# Create class wiht data class 
@dataclass
class person:
    name:str
    age:int
    profession:str

        
# Create class wihtout data class 
class peron():
    def __init__(self,name, age, prof):
        self.name = name
        self.age = age
        self.profession = prof

In [25]:
@dataclass
class Rectangle:
    width:int
    height:int
    color:str='white'

rectangle1 = Rectangle(12,14)
rectangle2 = Rectangle(13,14,'red')

In [26]:
rectangle1.color

'white'

In [27]:
rectangle2.color

'red'

In [31]:
rectangle2.color = 'Yellow'

In [32]:
rectangle2.color

'Yellow'

In [28]:
# if you give frozen=True so you cannot change your instances
@dataclass(frozen = True)
class Point:
    x:int
    y:int

In [29]:
point = Point(3,4)

In [35]:
point.x, point.y

(3, 4)

In [36]:
# As you see that if i change the value of x error is display becoz of frozen = True
point.x = 12

FrozenInstanceError: cannot assign to field 'x'

In [37]:
# inheritance

@dataclass
class Person:
    name:str
    age:int

@dataclass
class Employee(Person):
    employee_id:str
    department:str

In [38]:
person = Person('khushboo', '24')
employee = Employee('khushboo', '24','7856','DS')

In [39]:
employee.department

'DS'

In [40]:
employee.name

'khushboo'

In [43]:
## Nested Dataclasses

@dataclass
class Address:
    street:int
    city:str
    zip_code:int
        
@dataclass
class Person:
    name:str
    age:int
    address:Address

In [44]:
address = Address("5","karachi","266616")
person = Person("khushboo","24",address)

In [47]:
person

Person(name='khushboo', age='24', address=Address(street='5', city='karachi', zip_code='266616'))

In [49]:
person.address.city

'karachi'

In [50]:
person.address.street

'5'

In [52]:
person.address.zip_code

'266616'

In [53]:
person.name

'khushboo'

In [54]:
person.age

'24'