## ***Python Pickling And Unpickling***

The pickle module implements binary protocols for serializing and de-serializing a Python object structure. “Pickling” is the process whereby a Python object hierarchy is converted into a byte stream, and “unpickling” is the inverse operation, whereby a byte stream (from a binary file or bytes-like object) is converted back into an object hierarchy. Pickling (and unpickling) is alternatively known as “serialization”, “marshalling,” 1 or “flattening”; however, to avoid confusion, the terms used here are “pickling” and “unpickling”.

Pickle in Python is primarily used in serializing and deserializing a Python object structure. In other words, it's the process of converting a Python object into a byte stream to store it in a file/database, maintain program state across sessions, or transport data over the network

In [1]:
import seaborn as sns

In [3]:
df = sns.load_dataset('tips')

In [5]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [4]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
import pickle

In [8]:
filename = 'tips.pkl'
filename

'tips.pkl'

In [10]:
dir(pickle)

['ADDITEMS',
 'APPEND',
 'APPENDS',
 'BINBYTES',
 'BINBYTES8',
 'BINFLOAT',
 'BINGET',
 'BININT',
 'BININT1',
 'BININT2',
 'BINPERSID',
 'BINPUT',
 'BINSTRING',
 'BINUNICODE',
 'BINUNICODE8',
 'BUILD',
 'BYTEARRAY8',
 'DEFAULT_PROTOCOL',
 'DICT',
 'DUP',
 'EMPTY_DICT',
 'EMPTY_LIST',
 'EMPTY_SET',
 'EMPTY_TUPLE',
 'EXT1',
 'EXT2',
 'EXT4',
 'FALSE',
 'FLOAT',
 'FRAME',
 'FROZENSET',
 'FunctionType',
 'GET',
 'GLOBAL',
 'HIGHEST_PROTOCOL',
 'INST',
 'INT',
 'LIST',
 'LONG',
 'LONG1',
 'LONG4',
 'LONG_BINGET',
 'LONG_BINPUT',
 'MARK',
 'MEMOIZE',
 'NEWFALSE',
 'NEWOBJ',
 'NEWOBJ_EX',
 'NEWTRUE',
 'NEXT_BUFFER',
 'NONE',
 'OBJ',
 'PERSID',
 'POP',
 'POP_MARK',
 'PROTO',
 'PUT',
 'PickleBuffer',
 'PickleError',
 'Pickler',
 'PicklingError',
 'PyStringMap',
 'READONLY_BUFFER',
 'REDUCE',
 'SETITEM',
 'SETITEMS',
 'SHORT_BINBYTES',
 'SHORT_BINSTRING',
 'SHORT_BINUNICODE',
 'STACK_GLOBAL',
 'STOP',
 'STRING',
 'TRUE',
 'TUPLE',
 'TUPLE1',
 'TUPLE2',
 'TUPLE3',
 'UNICODE',
 'Unpickler',
 'UnpicklingError',
 '_Framer',
 '_HAVE_PICKLE_BUFFER',
 '_Pickler',
 '_Stop',
 '_Unframer',
 '_Unpickler',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_compat_pickle',
 '_dump',
 '_dumps',
 '_extension_cache',
 '_extension_registry',
 '_getattribute',
 '_inverted_registry',
 '_load',
 '_loads',
 '_test',
 '_tuplesize2code',
 'bytes_types',
 'codecs',
 'compatible_formats',
 'decode_long',
 'dispatch_table',
 'dump',
 'dumps',
 'encode_long',
 'format_version',
 'io',
 'islice',
 'load',
 'loads',
 'maxsize',
 'pack',
 'partial',
 're',
 'sys',
 'unpack',
 'whichmodule']

In [11]:
## Serialize process
pickle.dump(df,open(filename, 'wb'))

In [12]:
## unserialize process
df = pickle.load(open(filename, 'rb'))

In [13]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [14]:
dict_example = {'first name':'Khushboo', 'last name': "Saleem"}
dict_example

{'first name': 'Khushboo', 'last name': 'Saleem'}

In [15]:
pickle.dump(dict_example, open('dict.pkl' ,'wb'))

In [16]:
df = pickle.load(open('dict.pkl', 'rb'))
df

{'first name': 'Khushboo', 'last name': 'Saleem'}

In [17]:
type(df)

dict

In [20]:
import pandas as pd

data = {'first name': ['Khushboo','Ayan'], 'last name': ['Saleem','Ali']}
df = pd.DataFrame(data)

In [21]:
df

  first name last name
0   Khushboo    Saleem
1       Ayan       Ali

In [22]:
pickle.dump(df,open("data.pkl","wb"))

In [24]:
pickle.load(open("data.pkl","rb"))

  first name last name
0   Khushboo    Saleem
1       Ayan       Ali