## **Python divides the operators in the following groups**

Arithmetic operators

Assignment operators

Comparison operators

Logical operators

Identity operators

Membership operators

Bitwise operators

# **Python Comparison Operators**

Comparison operators are used to compare two values

In [ ]:

# Operator	    Name	                        Example
# ==	          Equal	                        x == y
# !=	          Not equal	                    x != y
# >	            Greater than	                x > y
# <	            Less than	                    x < y
# >=	          Greater than or equal to	    x >= y
# <=	          Less than or equal to	        x <= y

In [3]:
x = 5
y = 5
print(x == y)

True

In [4]:
x = 5
y = 10
print(x != y)

True

In [22]:
x = 40
y = 20
print(x > y)

True

In [10]:
x = 10
y = 20
print(x < y)

True

In [15]:
x = 20
y = 10
print(x >= y)

True

In [16]:
x = 20
y = 20
print(x >= y)

True

In [18]:
x = 10
y = 10
print(x <= y)

True

In [20]:
x = 5
y = 10
print(x <= y)

True

# **Python Logical Operators**

Logical operators are used to combine conditional statements:

In [ ]:

# Operator	Description	                                                Example
# and     	Returns True if both statements are true	                  x < 5 and  x < 10
# or	      Returns True if one of the statements is true	              x < 5 or x < 4
# not	      Reverse the result, returns False if the result is true	    not(x < 5 and x < 10)

In [24]:
x = 5
y = 7

print(x<y and y>x)

True

In [25]:
x = 5
y = 7

print(x<y and x>y)

False

In [26]:
x = 5
y = 5

print(x==y and y==x)

True

In [27]:
x = 5
y = 6

print(x==y and y==x)

False

In [28]:
x = "ayaan"
y = "ayaan"

x==y and y==x

True

In [29]:
x = "ayaan"
y = "ayaan"

x==y and y!=x

False

In [30]:
x = "ayaan"
y = "ayaan"

x==y or y!=x

True